.film {
  font-family: var(--ff-sans);
  width: 100%;
  margin: 2rem;
  display: flex;
  flex-direction: column;
  border-radius: 5%;
  text-align: left;
  padding-left: 1rem;
}

.film__titre {
  font-size: 2rem;
  padding-bottom: 2rem;
}

.film__list {
  display: flex;
  flex-direction: row;
  justify-content: left;
  gap: 1rem;
}

.film__img {
  display: flex;
  max-width: 18rem;
  border-radius: 5%;
  padding-bottom: 0.5rem;
}

.film__trailer {
  padding-top: 3rem;
}

.film__content {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  text-align: left;
  justify-content: flex-start;
  padding-top: 5rem;
  column-gap: 5rem;
}

.film__text {
  display: flex;
  flex-direction: column;
  max-width: 40rem;
}

.film__item--age {
  background-color: white;
  align-items: center;
  text-align: center;
  width: 3rem;
  border-radius: 2rem;
  border: none;
}

/* Responsive */
@media (max-width: 34rem) {
  .film__text {
    max-width: 25rem;
  }

  .film__trailer {
    width: 90%;
  }
}
