<div class="film">
  <h3 class="film__titre">{{name}}</h3>
  <img
    class="film__img"
    src="https://mmi.unilim.fr/~thierry18/SAE2.03/server/images/{{image}}"
  />
  <ul class="film__list">
    <li class="film__item">{{year}}</li>
    <li class="film__item--age">{{min_age}}</li>
    <li class="film__item">{{category}}</li>
  </ul>
  <div class="film__content">
    <div class="film__text">
      <p class="film__description">{{description}}</p>
      <p class="film__description--realisateur">Réalisateurs : {{director}}</p>
    </div>
  </div>
  <iframe
    class="film__trailer"
    width="80%"
    height="315"
    src="{{trailer}}"
    title="Trailer du film"
    frameborder="0"
    allow="autoplay; encrypted-media; picture-in-picture"
    allowfullscreen
  >
  </iframe>
</div>
