.cards {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap:2rem;
}

.card {
border: 0.5rem thin;
border-radius: 5%;
padding: 1rem;
text-align: center;
box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.card__img {
 height: 20rem;
 border-radius:5% ;
}

.card__title {
    margin-top: 12px;
    font-size: 1.5rem;
    color: black;
}

