.cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding-top: 2rem;
  grid-gap: 2rem;
  align-items: center;
  padding: 1rem;
}

.card {
  position: relative;
  width: 100%;
  max-width: 18rem;
  margin: auto;
  display: flex;
  flex-direction: column;
  border: 0.5rem;
  border-radius: 5%;
  text-align: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.card:hover {
  transform: scale(1.1);
}

.card__img {
  width: 100%;
  height: 25rem;
  object-fit: cover;
  border-radius: 5% 5% 0 0;
}

.card__titre {
  font-family: var(--ff-sans);
  margin-top: 12px;
  font-size: 1rem;
  color: rgb(0, 0, 0);
  padding-bottom: 1.5rem;
  align-items: center;
}

.card__favoris {
  position: absolute;
  bottom: 3rem;
  right: 0.2rem;
  padding: 0.5rem;
  border-radius: 50%;
  background: none;
  border: none;
  transition: background-color 0.3s ease;
}

.heart-icon {
  fill: none;
  stroke: #ff0000;
  transition: fill 0.3s ease, stroke 0.3s ease;
}
.card__deletefavoris {
  position: absolute;
  bottom: 3.7rem;
  left: 0.2rem;
  background: none;
  border: none;
}
.card__favoris:hover .heart-icon {
  fill: #ff4d4d;
  stroke: #ff4d4d;
}

.trash-icon {
  fill: none;
  stroke: currentColor;
  cursor: pointer;
  transition: stroke 0.3s ease;
}

.trash-icon:hover {
  stroke: red; /* Change la couleur au survol */
}
@media (max-width: 34rem) {
  .cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
  }
}

@media (max-width: 54rem) {
  .cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    padding-right: 0.5rem;
  }

  .card__img {
    height: 13rem;
    width: 100%;
  }

  .card__titre {
    font-size: 0.8rem;
  }
}
