<nav class="navbar font-sans">
  <ul class="navbar__list">
    <li class="navbar__item" onclick="{{hAbout}}">About</li>
    <li class="navbar__item" onclick="window.location.href = 'index.html'">
      Home
    </li>
  </ul>
  <div class="nav__profile">
    <select
      id="profile-select"
      class="navbar__select"
      onchange="C.handleProfileChange(this)"
    >
      {{profiles}}
    </select>
    <!-- <img
        id="profile-image"
        src="https://mmi.unilim.fr/~thierry18/SAE2.03/server/images/avatar.jpg"
        alt="Profile Image"
        class="profile-image"
        onclick="C.getSelectedProfileId()"
      /> -->
  </div>
</nav>
