<div class="movie-card">
  <h3>{{name}}</h3>
  <p>Catégorie : {{category}}</p>
  <p>Année : {{year}}</p>
  <p>Statut : {{featured}}</p>
  <select required name="featured" data-id="{{id}}">
    <option value="" disabled selected>Choisir une mise en avant</option>
    <option value="1">Mettre en avant</option>
    <option value="0">Ne pas mettre en avant</option>
  </select>
  <input
    class="modifyFeature_button"
    data-id="{{id}}"
    onclick="{{handlerModifyFeature}}"
    type="button"
    value="Modifier"
  />
</div>
