<div class="profile">
  <form id="ProfileForm" class="addProfile__form">
    <h4 class="profile__title">Créer un profil</h4>

    <input required type="text" name="name" placeholder="Nom du profil" />

    <input required type="text" name="avatar" placeholder="Avatar" />
    <input
      required
      type="date"
      name="date_naissance"
      placeholder="Date de naissance"
    />

    <input
      class="profile__button"
      onclick="{{handlerProfile}}"
      type="button"
      value="Ajouter un profil"
      name="todo"
    />
  </form>
</div>
